<launch>
    <node pkg="tf" type="static_transform_publisher" name="transform_sonar_frame" args="0 0 0 0 0 0 1 map sonar_frame 10" />
    <env name="emulated_sonar" value="false" />
    <node pkg="ping360_sonar" type="node.py" name="ping360_node" output="screen">
        <param name="device" value="/dev/ttyUSB0"/>
        <param name="baudrate" value="115200"/>
        <param name="debug" value="False"/>
        <param name="imgSize" value="500"/>
        <param name="gain" value="1"/>
        <param name="step" value="10"/>
        <param name="numberOfSamples" value="200"/>
        <param name="transmitFrequency" value="740"/>
        <param name="sonarRange" value="4"/>
        <param name="speedOfSound" value="1500"/>
        <param name="queueSize" value="1"/>
        <param name="threshold" value="100"/>
        <param name="enableImageTopic" value="True"/> 
        <param name="enableScanTopic" value="True"/> 
        <param name="enableDataTopic" value="True"/> 
        <param name="maxAngle" value="290"/> 
        <param name="minAngle" value="200"/> 
        <param name="oscillate" value="True"/> 
    </node>
    <arg name="record" default = "false" />

    <node pkg="rosbag" type="record" name="rosbag_record"
       args="record -a -o  /home/beastfish/data/gp_sonar " 
       if ="$(arg record)" />
 
</launch>
